.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  overflow-x: hidden;
}

.elements {
  height: 90vh;
  width: 200vw;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.element {
  width: 100vw;
  display: inline-block;
}

.block-left {
  top: 2vh;
  height: 95vh;
  overflow: scroll;
  float: left;
  position: relative;
}
.block-right {
  position: relative;

  overflow: auto;
}
